*{
    font-family: 'Times New Roman', Times, serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: white;
    opacity: 80%;
}

h1{
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 0;
}

h2{
    text-align: center;
    font-size: 30px;
}

header{
    align-items: center;
    display: flex;
    flex-direction:column;
    margin-bottom: 40px;
    background-color: aquamarine;
    border-bottom: 4px solid gray;
}


.whois{
    align-items: center;
    display: flex;
    flex-direction:column;
}

.whois span{
    text-align: center;
    font-size: 23px;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
}


.section h2{
    padding-top: 30px;
    padding-bottom: -100px;
    font-size: 35px;
}

.section h3{
    padding-top: 30px;
    font-size: 23px;
    text-align: center;
}

.section p{
    font-size: 20px;
    text-align: justify;
    padding-left: 40px;
    padding-right: 40px;
}

.foto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11120px;
    height: 20px;
   
}





footer{
    height: 130px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    border-top: 2px solid gray;
}

footer span{
    padding-top: 65px;
}

footer img{
    padding-top: 30px;
    
}

